<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if title %}
        <title>{{ title }} - Microblog</title>
    {% else %}
        <title>Welcome to Microblog</title>
    {% endif %}

</head>
<body>
    <a href="{{ url_for('index') }}">home</a>

    {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">sign in</a>
    {% else %}
        <a href="{{ url_for('user',username=current_user.username) }}">profile</a>
        <a href="{{ url_for('logout') }}">logout</a>
    {% endif %}
    <br>
    <hr>

    {#  flash  #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
     {% endwith %}

    {#  插槽  #}
    {% block content %}
    
    {% endblock %}


    
</body>
</html>